// 矢印 mod-morph (ar_up/ar_down/ar_left/ar_right) + 対応 hold-tap (ar_*_ht)
// behaviors { } ブロック内に #include して使う
// ARROW_BEHAVIOR マクロは keymap_defines.h で定義

    ARROW_BEHAVIOR(ar_up,    UP_ARROW_LAYER,    UP_ARROW,    KEY_POSITION_LEFT_ARROW, KEY_POSITION_RIGHT_ARROW)
    ARROW_BEHAVIOR(ar_down,  DOWN_ARROW_LAYER,  DOWN_ARROW,  KEY_POSITION_LEFT_ARROW, KEY_POSITION_RIGHT_ARROW)
    ARROW_BEHAVIOR(ar_left,  LEFT_ARROW_LAYER,  LEFT_ARROW,  KEY_POSITION_DOWN_ARROW, KEY_POSITION_RIGHT_ARROW)
    ARROW_BEHAVIOR(ar_right, RIGHT_ARROW_LAYER, RIGHT_ARROW, KEY_POSITION_DOWN_ARROW, KEY_POSITION_LEFT_ARROW)
