// _a 〜 _z の letter mod-morph 群（Shift で eiji_macro 経由の大文字化）
// behaviors { } ブロック内に #include して使う
// LETTER_MORPH マクロは keymap_defines.h で定義

    LETTER_MORPH(_a, A)
    LETTER_MORPH(_b, B)
    LETTER_MORPH(_c, C)
    LETTER_MORPH(_d, D)
    LETTER_MORPH(_e, E)
    LETTER_MORPH(_f, F)
    LETTER_MORPH(_g, G)
    LETTER_MORPH(_h, H)
    LETTER_MORPH(_i, I)
    LETTER_MORPH(_j, J)
    LETTER_MORPH(_k, K)
    LETTER_MORPH(_l, L)
    LETTER_MORPH(_m, M)
    LETTER_MORPH(_n, N)
    LETTER_MORPH(_o, O)
    LETTER_MORPH(_p, P)
    LETTER_MORPH(_q, Q)
    LETTER_MORPH(_r, R)
    LETTER_MORPH(_s, S)
    LETTER_MORPH(_t, T)
    LETTER_MORPH(_u, U)
    LETTER_MORPH(_v, V)
    LETTER_MORPH(_w, W)
    LETTER_MORPH(_x, X)
    LETTER_MORPH(_y, Y)
    LETTER_MORPH(_z, Z)
