// al_a 〜 al_z の letter mod-morph 群（Shift で eiji_macro 経由の大文字化）
// behaviors { } ブロック内に #include して使う
// LETTER_MORPH マクロは keymap_defines.h で定義

    LETTER_MORPH(al_a, A)
    LETTER_MORPH(al_b, B)
    LETTER_MORPH(al_c, C)
    LETTER_MORPH(al_d, D)
    LETTER_MORPH(al_e, E)
    LETTER_MORPH(al_f, F)
    LETTER_MORPH(al_g, G)
    LETTER_MORPH(al_h, H)
    LETTER_MORPH(al_i, I)
    LETTER_MORPH(al_j, J)
    LETTER_MORPH(al_k, K)
    LETTER_MORPH(al_l, L)
    LETTER_MORPH(al_m, M)
    LETTER_MORPH(al_n, N)
    LETTER_MORPH(al_o, O)
    LETTER_MORPH(al_p, P)
    LETTER_MORPH(al_q, Q)
    LETTER_MORPH(al_r, R)
    LETTER_MORPH(al_s, S)
    LETTER_MORPH(al_t, T)
    LETTER_MORPH(al_u, U)
    LETTER_MORPH(al_v, V)
    LETTER_MORPH(al_w, W)
    LETTER_MORPH(al_x, X)
    LETTER_MORPH(al_y, Y)
    LETTER_MORPH(al_z, Z)
